In [1]:
import pandas as pd

1. Load data

In [2]:
data = pd.read_csv('daily.csv')

In [3]:
data.head()

,Stn Id,Stn Name,CIMIS Region,Date,Jul,ETo (in),qc,Precip (in),qc.1,Sol Rad (Ly/day),...,Avg Rel Hum (%),qc.9,Dew Point (F),qc.10,Avg Wind Speed (mph),qc.11,Wind Run (miles),qc.12,Avg Soil Temp (F),qc.13
0,44,U.C. Riverside,Los Angeles Basin,1/1/2017,1,0.03,,0.00,,154.0,...,74.0,,39.9,,2.5,,59.5,,52.2,
1,44,U.C. Riverside,Los Angeles Basin,1/2/2017,2,0.02,,0.00,,103.0,...,75.0,,41.9,,2.9,,69.8,,52.0,
2,44,U.C. Riverside,Los Angeles Basin,1/3/2017,3,0.02,,0.00,,134.0,...,77.0,,40.8,,2.3,,54.8,,51.6,
3,44,U.C. Riverside,Los Angeles Basin,1/4/2017,4,0.04,,0.00,,193.0,...,73.0,,42.5,,2.3,,55.1,,51.4,
4,44,U.C. Riverside,Los Angeles Basin,1/5/2017,5,0.01,,0.13,,89.0,...,82.0,Y,49.8,Y,3.0,,72.2,,53.3,

2. How many stations are there?

In [4]:
#variable to hold count
cnt=0
#list to hold visited values
visited=[]

for i in range(0, len(data['Stn Id'])):
    if data['Stn Id'][i] not in visited:
        visited.append(data['Stn Id'][i])
        cnt+=1
        
print("Number of unique values:", cnt)
print("Unique values:", visited)

Number of unique values: 3
Unique values: [44, 99, 107]

3. Create dataframe for stations individually for precipitation, avg air tempp, and relative humidity

In [5]:
#split into data frames per station
df1 = data[data['Stn Id']==44]
df2 = data[data['Stn Id']==99]
df3 = data[data['Stn Id']==107]

#select specified column for each df
sdf1 = df1[["Date", "Precip (in)", "Avg Air Temp (F)", "Avg Rel Hum (%)"]]
sdf2 = df2[["Date", "Precip (in)", "Avg Air Temp (F)", "Avg Rel Hum (%)"]]
sdf3 = df3[["Date", "Precip (in)", "Avg Air Temp (F)", "Avg Rel Hum (%)"]]

sdf1.head()

       Date  Precip (in)  Avg Air Temp (F)  Avg Rel Hum (%)
0  1/1/2017         0.00              47.8             74.0
1  1/2/2017         0.00              49.6             75.0
2  1/3/2017         0.00              47.8             77.0
3  1/4/2017         0.00              50.8             73.0
4  1/5/2017         0.13              55.2             82.0

4. Caclulate avg monthy statistics for each weather variable at each station

In [6]:
from datetime import datetime as dt

date = "1/1/2017"
datetime.strptime(date, "%m/%d/%Y")

sdf1["MONTH"] = sdf1["Date"].dt.month

split by /

SyntaxError: invalid syntax (3768113590.py, line 8)

6. function converting F to C

In [ ]:
def F_to_C (Ftemp):
    Ctemp = (Ftemp - 32)*5/9
    return Ctemp

7. convert avg air temp (F) to (C) and round results to one decimal

In [ ]:
sdsf1["Air Temp (C)"] = sdf1["Air Temp (F)"].apply(F_to_C)

8. For the daily data at the Santa Monica station, count the number of days in the five year dataset where Avg Air Temp (F) was below 50 degrees or above 100 degrees.

In [ ]:
sdf1["Date"] = pd.to_datetime(sdf1["Date"])

below50 = (data["Avg Air Temp (F)"] < 50)
above100 =(data["Avg Air Temp (F)"] > 100)

print(sum(below50))
print(sum(above100))