Solutions for excersize 2.1

## Exercise 2.1 - Getting started with Python

The goal of this exercise is to print text like that below to the screen based on variable values you define.

```
My name is Brianna and I give eating ice cream a score of 9 out of 10!
My sleeping enjoyment rating is 8 / 10!
Based on the factors above, my happiness rating is 8.5 out of 10 or 85.0 %!
```
For this exercise you should:

- Create three variables: one integer value (whole number) for your ice cream rating, another integer for your sleeping rating, and a character string for your first name. 
- Calculate the average of the two ratings. Store the result in a variable for your happiness.
- Find the data type of each of the variables you have defined. Are there any surprises?
- Reproduce your version of the example text using the `print()` function and the variables you have defined. Note that you may need to be careful combining text and numbers!

In [18]:
IceCreamRating = 10
SleepRating = 9
Name = "Orion"

import statistics

List = [IceCreamRating, SleepRating]
Average = statistics.mean(List)

print('My name is', Name, 'and I give eating ice cream a', IceCreamRating, 'out of 10')
print('My sleeping enjoyment rating is', SleepRating, 'out of 10')
print('Based on the factors above, my happiness rating is', Average, 'out of 10 or', (Average*10), '%')

print(type(IceCreamRating), type(SleepRating), type(Name), type(Average))

My name is Orion and I give eating ice cream a 10 out of 10
My sleeping enjoyment rating is 9 out of 10
Based on the factors above, my happiness rating is 9.5 out of 10 or 95.0 %
<class 'int'> <class 'int'> <class 'str'> <class 'float'>

There are no suprises all of the data is classified as expected.

## Exercise 2.2 - Creating and changing lists

: _**Table 2.5**. [FMI observation stations](http://en.ilmatieteenlaitos.fi/observation-stations) and the years in which they began operating_.

|FMI station name       | First year of operation | Group |
|:----------------------|:-----------------------:|:-----:|
|lighthouse             | 2003                    | 1     |
|Harmaja                | 1989                    | 1     |
|Suomenlinna aaltopoiju | 2016                    | 1     |
|Kumpula                | 2005                    | 1     |
|Kaisaniemi             | 1844                    | 1     |
|Malmi airfield         | 1937                    | 2     |
|Vuosaari harbour       | 2012                    | 2     |
|Kaivopuisto            | 1904                    | 2     |

For this exercise you should use the data in Table 2.5 to:

- Create two lists for the station names and first years of operation for the stations in Group 1 in Table 2.5. Be sure to list the values in the order they appear in the table.
- Modify the lists you just created to add the values Group 2, again keeping them in the same order.
- Sort the two lists, sorting the first in alphabetical order and the second so that the most recent starting year is first
    - Do you see any problems with how the lists have been sorted?
    - Python has a function called `zip()` that might be helpful in solving the sorting issue. Search online to see whether you can find a way to use `zip()` to solve the problem with the two lists.

In [21]:
station_names = ['lighthouse', 'Harmaja', 'Suomenlinna aaltopoiju', 'Kumpula, Kaisaniemi']
year_operation = [2003, 1989, 2016, 2005, 1844]

station_names.append('Malmi airfield')
station_names.append('Vuosaari harbour')
station_names.append('Kaivopuisto')
year_operation.append(1844)
year_operation.append(1937)
year_operation.append(2012)
year_operation.append(1904)

print('Sorted names:',sorted(station_names))
print('Sorted years:',sorted(year_operation))

zipped = zip(station_names, year_operation)
print('Sorted names and years:',sorted(zipped))

Sorted names: ['Harmaja', 'Kaivopuisto', 'Kumpula, Kaisaniemi', 'Malmi airfield', 'Suomenlinna aaltopoiju', 'Vuosaari harbour', 'lighthouse']
Sorted years: [1844, 1844, 1904, 1937, 1989, 2003, 2005, 2012, 2016]
Sorted names and years: [('Harmaja', 1989), ('Kaivopuisto', 1937), ('Kumpula, Kaisaniemi', 2005), ('Malmi airfield', 1844), ('Suomenlinna aaltopoiju', 2016), ('Vuosaari harbour', 1844), ('lighthouse', 2003)]

## Exercise 2.3 - Lists and index values

: _**Table 2.6**. [Monthly average temperatures recorded at the Helsinki Malmi airport](https://www.timeanddate.com/weather/finland/helsinki/climate)._

|Month     | Temperature (Â°C) |
|:---------|:----------------:|
|January   | -3.5             |
|February  | -4.5             |
|March     | -1.0             |
|April     | 4.0              |
|May       | 10.0             |
|June      | 15.0             |
|July      | 18.0             |
|August    | 16.0             |
|September | 11.5             |
|October   | 6.0              |
|November  | 2.0              |
|December  | -1.5             |

For this exercise you should use the data in Table 2.6 to:

- Create two lists with the months and their average temperatures.
- Use a print statement to produce output like that below, where the months and temperatures are selected using index values in the corresponding lists.

```
The average temperature in Helsinki in March is -1.0
```

In [24]:
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
temp = [-3.5, -4.5, -1.0, 4.0, 10.0, 15.0, 18.0, 16.0, 11.5, 6.0, 2.0, -1.5]

for i in range(len(month)):
    print('The average temperature in', month[i], "is", temp[i])

The average temperature in January is -3.5
The average temperature in February is -4.5
The average temperature in March is -1.0
The average temperature in April is 4.0
The average temperature in May is 10.0
The average temperature in June is 15.0
The average temperature in July is 18.0
The average temperature in August is 16.0
The average temperature in September is 11.5
The average temperature in October is 6.0
The average temperature in November is 2.0
The average temperature in December is -1.5

## Exercise 2.4 - Batch processing files with a `for` loop

Batch processing is a common task in Python, where a set of data and/or files are analyzed one after another using the same script or program. In this exercise your goal is to produce a Python list of filenames that could be used to batch process the data they contain.

For this exercise you should:

- Use a `for` loop to create a Python list that produces the output below when you print the list:

    ```
    ['Station_0.txt', 'Station_1.txt', 'Station_2.txt', 'Station_3.txt',
     'Station_4.txt', 'Station_5.txt', 'Station_6.txt', 'Station_7.txt',
     'Station_8.txt', 'Station_9.txt', 'Station_10.txt', 'Station_11.txt',
     'Station_12.txt', 'Station_13.txt', 'Station_14.txt', 'Station_15.txt',
     'Station_16.txt', 'Station_17.txt', 'Station_18.txt', 'Station_19.txt',
     'Station_20.txt']
    ```

In [25]:
for i in range(21):
    print('Station_',i,'.txt')

Station_ 0 .txt
Station_ 1 .txt
Station_ 2 .txt
Station_ 3 .txt
Station_ 4 .txt
Station_ 5 .txt
Station_ 6 .txt
Station_ 7 .txt
Station_ 8 .txt
Station_ 9 .txt
Station_ 10 .txt
Station_ 11 .txt
Station_ 12 .txt
Station_ 13 .txt
Station_ 14 .txt
Station_ 15 .txt
Station_ 16 .txt
Station_ 17 .txt
Station_ 18 .txt
Station_ 19 .txt
Station_ 20 .txt